h1{
    background-color: rgb(0,124,130);
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    font-family: Helvetica;
    border:10px solid rgb(0,124,130);
    margin: 0%;
}
body{
    margin: 0%;
}
div{margin: 10px;}
::placeholder{
    font-family: Courier;
}


